@page "/pages/details/{id}"
@model DetailsModel
<div class="m-2">
    <partial name="_ProductEditor" model="@Model.ViewModel" />
</div>

@functions{
    public class DetailsModel : EditorPageModel
    {
        public DetailsModel(DataContext context) : base(context) { }
        public async Task OnGetAsync(long id)
        {
            Product p = await context.Products.Include(p => p.Category).Include(o => o.Supplier).FirstOrDefaultAsync(p => p.ProductID == id);
            ViewModel = ViewModelFactory.Details(p);
        }
    }
}


