@page "/noid"
@model NotFoundModel
@using Webapp.Models
@using Microsoft.AspNetCore.Mvc.RazorPages;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Not Found</title>
</head>
<body>
    <div class="bg-primary text-white text-center p-2 m-2">
        <ul class=" list-group m-2">
            @foreach (Product pr in Model.Products)
            {
                <li class="list-group-item">@pr.Name (ID: @pr.ProductID)</li>
            }
        </ul>
    </div>
</body>
</html>

@functions{
    public class NotFoundModel : PageModel
    {
        private DataContext context;
        public NotFoundModel(DataContext ctx) => context = ctx;
        public IEnumerable<Product> Products { get; set; }
        public void OnGetAsync (long id = 1)
        {
            Products = context.Products;
        }
    }
}