@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="text-center">
        <h1 class="text-primary">XIN CHÀO MỌI NGƯỜI</h1>
        <h3>We are going to have an exciting </h3>
        <h4>And you are invited</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP NOW</a>
    </div>
</body>
</html>

