.bg-heart-roses-valentines-day-made-red-isolated-white-background-36600776 {
  background: url("../images/css-sprite-combined.png") 0px -0px;
  width: 800px;
  height: 728px;
  display: inline-block;
}
