@page "/editcategory/{categoryID}"

@inject NavigationManager NavigationManager
@inject IEditCategoryUseCase EditCategoryUseCase
@inject IGetCategoryByIdUseCase GetCategoryByIdUseCase

<h3>Edit Category</h3>
<br />
@if (category != null)
{
    <EditForm Model="category" OnValidSubmit="OnvalidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="category.Name" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <InputText id="description" @bind-Value="category.Description" class="form-control"></InputText>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCancel">Cancel</button>
    </EditForm>
}

@code {
    [Parameter]
    public string categoryId { get; set; }
    private Category category;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        category = new Category();
    }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (int.TryParse(this.categoryId, out int iCategoryId))
        {
            var cate = GetCategoryByIdUseCase.Excute(iCategoryId);
            this.category = new Category { CategoryId = cate.CategoryId, Name = cate.Name, Description = cate.Description };

        }
    }
    private void OnvalidSubmit()
    {
        EditCategoryUseCase.Excute(this.category);
        NavigationManager.NavigateTo("/categories");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/categories");
    }
}
