@using Microsoft.AspNetCore.Components.Authorization 

<Router AppAssembly="typeof(Startup).Assembly">
    <Found>
        <AuthorizeRouteView RouteData="@context" DefaultLayout="typeof(NavLayout)">
            <NotAuthorized Context="authContext">
                <h4 class="btn-danger text-center text-white p-2">Not Authorized</h4>
                <div class="text-center ">
                    You may need to login in as diffrent user
                </div>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <h4 class="bg-danger text-white text-center p-2">
            No Matching Route Found
        </h4>
    </NotFound>
</Router>