@model Product
@{ Layout = "_SimpleLayout";}

<h5 class="bg-primary text-white text-center p-2">HTML Form</h5>
<partial name="_Validation" />

<form asp-action="submitform" method="post" id="htmlform">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryID"></label>
        <input class="form-control" asp-for="CategoryID" />
    </div>
    <div class="form-group">
        <label asp-for="SupplierID"></label>
        <input class="form-control" asp-for="SupplierID" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

